<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>FirstProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>companymail</param-name>
    <param-value>asdf@gmail.com</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>First</display-name>
    <servlet-name>First</servlet-name>
    <servlet-class>com.Basic.First</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>First</servlet-name>
    <url-pattern>/first</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Second</display-name>
    <servlet-name>Second</servlet-name>
    <servlet-class>com.Basic.Second</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Second</servlet-name>
    <url-pattern>/second</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Third</display-name>
    <servlet-name>Third</servlet-name>
    <servlet-class>com.Basic.Third</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Third</servlet-name>
    <url-pattern>/third</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletContextDemo</display-name>
    <servlet-name>ServletContextDemo</servlet-name>
    <servlet-class>com.Basic.ServletContextDemo</servlet-class>
    <init-param>
      <param-name>Myname</param-name>
      <param-value>durga</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletContextDemo</servlet-name>
    <url-pattern>/forth</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.Basic.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WelcomeServlet</display-name>
    <servlet-name>WelcomeServlet</servlet-name>
    <servlet-class>com.Basic.WelcomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomeServlet</servlet-name>
    <url-pattern>/welcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoCookie</display-name>
    <servlet-name>DemoCookie</servlet-name>
    <servlet-class>com.Cookie.DemoCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoCookie</servlet-name>
    <url-pattern>/cookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoCookie2</display-name>
    <servlet-name>DemoCookie2</servlet-name>
    <servlet-class>com.Cookie.DemoCookie2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoCookie2</servlet-name>
    <url-pattern>/cookie2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoCookie3</display-name>
    <servlet-name>DemoCookie3</servlet-name>
    <servlet-class>com.Cookie.DemoCookie3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoCookie3</servlet-name>
    <url-pattern>/cookie3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoHiddenURL</display-name>
    <servlet-name>DemoHiddenURL</servlet-name>
    <servlet-class>com.HiddenFormFiled.DemoHiddenURL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoHiddenURL</servlet-name>
    <url-pattern>/demohidden1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoHiddenURL2</display-name>
    <servlet-name>DemoHiddenURL2</servlet-name>
    <servlet-class>com.HiddenFormFiled.DemoHiddenURL2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoHiddenURL2</servlet-name>
    <url-pattern>/hidden2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoHiddenURL3</display-name>
    <servlet-name>DemoHiddenURL3</servlet-name>
    <servlet-class>com.HiddenFormFiled.DemoHiddenURL3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoHiddenURL3</servlet-name>
    <url-pattern>/hidden3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoHTTPSession</display-name>
    <servlet-name>DemoHTTPSession</servlet-name>
    <servlet-class>com.Httpsession.DemoHTTPSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoHTTPSession</servlet-name>
    <url-pattern>/httpses1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoHTTPSession2</display-name>
    <servlet-name>DemoHTTPSession2</servlet-name>
    <servlet-class>com.Httpsession.DemoHTTPSession2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoHTTPSession2</servlet-name>
    <url-pattern>/httpses2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoHTTPSession3</display-name>
    <servlet-name>DemoHTTPSession3</servlet-name>
    <servlet-class>com.Httpsession.DemoHTTPSession3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoHTTPSession3</servlet-name>
    <url-pattern>/httpses3</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>1</session-timeout>
  </session-config>
  <filter>
    <display-name>DemoFilter1</display-name>
    <filter-name>DemoFilter1</filter-name>
    <filter-class>com.Filter.DemoFilter1</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>DemoFilter1</filter-name>
    <url-pattern>/httpses2</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>DemoFilter2</display-name>
    <filter-name>DemoFilter2</filter-name>
    <filter-class>com.Filter.DemoFilter2</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>DemoFilter2</filter-name>
    <url-pattern>/httpses2</url-pattern>
  </filter-mapping>

	<servlet>
		<description></description>
		<display-name>DemoAnnotation</display-name>
		<servlet-name>DemoAnnotation</servlet-name>
		<servlet-class>com.Annotations.DemoAnnotation</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DemoAnnotation</servlet-name>
		<url-pattern>/annot</url-pattern>
	</servlet-mapping>
	<filter>
		<display-name>DemoAnnotFilter</display-name>
		<filter-name>DemoAnnotFilter</filter-name>
		<filter-class>com.Filter.DemoAnnotFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>DemoAnnotFilter</filter-name>
		<url-pattern>/annot</url-pattern>
	</filter-mapping>
</web-app>